/* Styles for main layout container */

.app-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1; /* This pushes the footer down */
  background-color: red;
}
/* CSS */
.app-container {
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
}
/* .main-content {
  display: flex;
  flex: 1;
} */

.content-area {
  /* width: -webkit-fill-available; */
  margin-left: 7%;
}
/* CSS */
/* .app-container {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  grid-template-columns: auto 1fr; 
  min-height: 100vh;
}  */

/* another try */
.app-cont {
}
.total-content {
}
.content-container {
}
