.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #c8c6ca,
    #6e6f81
  ); /* Gradient color for the scrollbar */
  /* border-radius: 10px; Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.custom-scrollbar {
  scrollbar-width: 4px; /* Firefox scrollbar */
  scrollbar-color: #c8c6ca, #6e6f81; /* Scrollbar color for Firefox */
}

/* loading */
